<?xml version="1.0" encoding="UTF-8"?>
<!-- https://docs.phpunit.de/en/9.6/configuration.html -->
<!-- XXX we need to avoid converting warnings to exceptions, as it breaks with Guzzle 5 -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" colors="true" bootstrap="./tests/app/autoload.php" convertWarningsToExceptions="false">
  <coverage>
    <include>
      <directory>./src/</directory>
    </include>
    <exclude>
      <directory>./src/Resources</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
